<div class="d-flex container p-0 m-0">
  <!-- SCROLL CONTAINER -->
  <div class="father-content content  w-100 p-0 m-0 vh-100" style="max-width: 600px; overflow: auto;">

    <!-- HEADER -->
    <div class="header d-flex justify-content-between align-items-center sticky-top"
      style="padding: 0px 15px; height: 54px; background-color:#15222B;">



      <div class="d-flex justify-content-center align-items-center">

        <img id="user-image-btn" src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg"
          alt="profile-image" class="rounded-circle" style="width: 39px; height: 39px; margin-right: 10px;">


        <h2 class="text-white m-0" style="font-size: 19px;">Inicio</h2>
      </div>

      <a href="#" class="">
        <i class="fab fa-twitter"></i>
      </a>

    </div>


    <!-- PROFILE ITEM -->
    <div class="profile" style="border-bottom: 1px solid #253441;">

      <div class="profile-images">
        <img class="hero-profile" src="https://pbs.twimg.com/profile_banners/767764588783775744/1471886361/1500x500"
          alt="">
        <img class="user-image" src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg"
          alt="">

        <!-- TWITTEAR BUTTON -->
        <div id="btn-editar" class="twettear-btn  rounded-pill d-flex justify-content-center align-items-center"
          style="background-color: #1F618E; min-height: 40px; color: #8A8F94; padding: 0px 10px;">
          <h2 class="m-0" style="font-size: 15px;">
            Editar
          </h2>

        </div>
      </div>

      <div class="info-profile">
        <div class="user-name" style="margin-left: 20px; margin-top: 10px; color: white;">
          <h2 class="m-0" style="font-size: 24px;">smerlyn javier</h2>
          <h2 class="m-0" style="font-size: 19px; font-weight: 300; color: #8798A6;">@smerlynjavier01</h2>
        </div>

        <div class="d-flex" style="padding-bottom: 25px;">

          <div class="user-name d-flex" style="margin-left: 20px; margin-top: 10px; color: white;">
            <h2 class="" style="font-size: 14px; margin: 0px 10px 0px 0px;">35</h2>
            <h2 class="m-0" style="font-size: 12px; font-weight: 300; color: #8798A6;">Seguidores</h2>
          </div>

          <div class="user-name d-flex" style="margin-left: 20px; margin-top: 10px; color: white;">
            <h2 class="" style="font-size: 14px; margin: 0px 10px;">150</h2>
            <h2 class="m-0" style="font-size: 12px; font-weight: 300; color: #8798A6;">Siguiendo</h2>
          </div>
        </div>

      </div>

    </div>


    <!-- QUE ESTAS PENSANDO -->
    <div class="d-flex" id="what">

      <div class="d-flex justify-content-center p-2">
        <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
          class="rounded-circle" style="width: 49px; height: 49px;">
      </div>


      <div class="col p-3">
        <div class="">
          <textarea id="note" class="w-100 text-white" style="background-color: transparent; font-size: 19px;"
            placeholder="¿Qué estás pensando?"></textarea>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class=" ">
            <a href="#" id="icon" class="rounded-circle p-2 d-flex justify-content-center"
              style="height: 37px; width: 37px;">
              <i class="far fa-image"></i>
            </a>
          </div>

          <!-- TWITTEAR BUTTON -->
          <div class="twettear-btn  rounded-pill d-flex justify-content-center align-items-center"
            style="background-color: #1F618E; min-height: 40px; color: #8A8F94; padding: 0px 10px;">
            <h2 class="m-0" style="font-size: 15px;">
              Twittear
            </h2>

          </div>


        </div>
      </div>

    </div>

    <!-- DIVIDER -->
    <div class="divider" style="height: 10px; background-color: #253441;"></div>

    <!-- TWEET -->
    <div class="container d-flex" style="padding-top:10px ; border-bottom: 1px solid #253441;">

      <div class="conten-1">
        <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
          class="rounded-circle" style="width: 36px; height: 36px;">
      </div>
      <div class="conten-2" style="padding-left: 10px;">
        <!-- HEAD TWEET -->
        <div class="d-flex justify-content-between align-items-center head" style="">

          <div class="d-flex">
            <div class="d-flex" style=" color: white;">
              <h2 class="" style="font-size: 15px; margin: 0;">smerlyn javier</h2>
              <h2 class="" style="font-size: 15px; margin: 0px 5px; font-weight: 300; color: #8798A6;">@smerlynjavier01
              </h2>
            </div>

          </div>


          <a id="icon" class=" text-white rounded-circle p-2 d-flex justify-content-center align-items-center"
            style="height: 20px; width: 20px; font-size: 10px;">
            <i class="fas fa-chevron-down"></i>
          </a>


        </div>



        <!-- DESC TWEET -->
        <div class="desc text-white" style="">
          <p> 🏚 🏚 🏚 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae nemo, recusandae ex sapiente ut
            dolorem
            reprehenderit doloremque odit voluptatibus, quae labore laborum temporibus quis veniam ratione. Saepe amet
            ad
            quam. 👍</p>
        </div>
        <!-- CONTENT TWEET -->
        <div class="content" style="">
          <img src="https://pbs.twimg.com/media/EbnU_xhXsAEbFKi?format=jpg&name=small" alt="tweet-img" class=""
            style="width: 100%; max-height: 500px; object-fit: cover; border-radius: 20px;">

          <div class="options" style="margin-top:  10px; padding-bottom: 10px;">

            <div class="d-flex  align-items-center">
              <a href="#" id="options-icon" class="rounded-circle p-2 d-flex justify-content-center"
                style="height: 30px; width: 30px;">
                <i class="far fa-comment"></i>
              </a>
              <h2 id="options-text" class="p-0 m-0" style="font-size: 13px;">12</h2>
            </div>

          </div>


        </div>
      </div>

    </div>
    <div class="container d-flex" style="padding-top:10px ; border-bottom: 1px solid #253441;">

      <div class="conten-1">
        <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
          class="rounded-circle" style="width: 36px; height: 36px;">
      </div>
      <div class="conten-2" style="padding-left: 10px;">
        <!-- HEAD TWEET -->
        <div class="d-flex justify-content-between align-items-center head" style="">

          <div class="d-flex">
            <div class="d-flex" style=" color: white;">
              <h2 class="" style="font-size: 15px; margin: 0;">smerlyn javier</h2>
              <h2 class="" style="font-size: 15px; margin: 0px 5px; font-weight: 300; color: #8798A6;">@smerlynjavier01
              </h2>
            </div>

          </div>


          <a id="icon" class=" text-white rounded-circle p-2 d-flex justify-content-center align-items-center"
            style="height: 20px; width: 20px; font-size: 10px;">
            <i class="fas fa-chevron-down"></i>
          </a>


        </div>



        <!-- DESC TWEET -->
        <div class="desc text-white" style="">
          <p> 🏚 🏚 🏚 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae nemo, recusandae ex sapiente ut
            dolorem
            reprehenderit doloremque odit voluptatibus, quae labore laborum temporibus quis veniam ratione. Saepe amet
            ad
            quam. 👍</p>
        </div>
        <!-- CONTENT TWEET -->
        <div class="content" style="">
          <img src="https://pbs.twimg.com/media/EbnU_xhXsAEbFKi?format=jpg&name=small" alt="tweet-img" class=""
            style="width: 100%; max-height: 500px; object-fit: cover; border-radius: 20px;">

          <div class="options" style="margin-top:  10px; padding-bottom: 10px;">

            <div class="d-flex  align-items-center">
              <a href="#" id="options-icon" class="rounded-circle p-2 d-flex justify-content-center"
                style="height: 30px; width: 30px;">
                <i class="far fa-comment"></i>
              </a>
              <h2 id="options-text" class="p-0 m-0" style="font-size: 13px;">12</h2>
            </div>

          </div>


        </div>
      </div>

    </div>
    <div class="container d-flex" style="padding-top:10px ; border-bottom: 1px solid #253441;">

      <div class="conten-1">
        <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
          class="rounded-circle" style="width: 36px; height: 36px;">
      </div>
      <div class="conten-2" style="padding-left: 10px;">
        <!-- HEAD TWEET -->
        <div class="d-flex justify-content-between align-items-center head" style="">

          <div class="d-flex">
            <div class="d-flex" style=" color: white;">
              <h2 class="" style="font-size: 15px; margin: 0;">smerlyn javier</h2>
              <h2 class="" style="font-size: 15px; margin: 0px 5px; font-weight: 300; color: #8798A6;">@smerlynjavier01
              </h2>
            </div>

          </div>


          <a id="icon" class=" text-white rounded-circle p-2 d-flex justify-content-center align-items-center"
            style="height: 20px; width: 20px; font-size: 10px;">
            <i class="fas fa-chevron-down"></i>
          </a>


        </div>



        <!-- DESC TWEET -->
        <div class="desc text-white" style="">
          <p> 🏚 🏚 🏚 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae nemo, recusandae ex sapiente ut
            dolorem
            reprehenderit doloremque odit voluptatibus, quae labore laborum temporibus quis veniam ratione. Saepe amet
            ad
            quam. 👍</p>
        </div>
        <!-- CONTENT TWEET -->
        <div class="content" style="">
          <img src="https://pbs.twimg.com/media/EbnU_xhXsAEbFKi?format=jpg&name=small" alt="tweet-img" class=""
            style="width: 100%; max-height: 500px; object-fit: cover; border-radius: 20px;">

          <div class="options" style="margin-top:  10px; padding-bottom: 10px;">

            <div class="d-flex  align-items-center">
              <a href="#" id="options-icon" class="rounded-circle p-2 d-flex justify-content-center"
                style="height: 30px; width: 30px;">
                <i class="far fa-comment"></i>
              </a>
              <h2 id="options-text" class="p-0 m-0" style="font-size: 13px;">12</h2>
            </div>

          </div>


        </div>
      </div>

    </div>
    <div class="container d-flex" style="padding-top:10px ; border-bottom: 1px solid #253441;">

      <div class="conten-1">
        <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
          class="rounded-circle" style="width: 36px; height: 36px;">
      </div>
      <div class="conten-2" style="padding-left: 10px;">
        <!-- HEAD TWEET -->
        <div class="d-flex justify-content-between align-items-center head" style="">

          <div class="d-flex">
            <div class="d-flex" style=" color: white;">
              <h2 class="" style="font-size: 15px; margin: 0;">smerlyn javier</h2>
              <h2 class="" style="font-size: 15px; margin: 0px 5px; font-weight: 300; color: #8798A6;">@smerlynjavier01
              </h2>
            </div>

          </div>


          <a id="icon" class=" text-white rounded-circle p-2 d-flex justify-content-center align-items-center"
            style="height: 20px; width: 20px; font-size: 10px;">
            <i class="fas fa-chevron-down"></i>
          </a>


        </div>



        <!-- DESC TWEET -->
        <div class="desc text-white" style="">
          <p> 🏚 🏚 🏚 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae nemo, recusandae ex sapiente ut
            dolorem
            reprehenderit doloremque odit voluptatibus, quae labore laborum temporibus quis veniam ratione. Saepe amet
            ad
            quam. 👍</p>
        </div>
        <!-- CONTENT TWEET -->
        <div class="content" style="">
          <img src="https://pbs.twimg.com/media/EbnU_xhXsAEbFKi?format=jpg&name=small" alt="tweet-img" class=""
            style="width: 100%; max-height: 500px; object-fit: cover; border-radius: 20px;">

          <div class="options" style="margin-top:  10px; padding-bottom: 10px;">

            <div class="d-flex  align-items-center">
              <a href="#" id="options-icon" class="rounded-circle p-2 d-flex justify-content-center"
                style="height: 30px; width: 30px;">
                <i class="far fa-comment"></i>
              </a>
              <h2 id="options-text" class="p-0 m-0" style="font-size: 13px;">12</h2>
            </div>

          </div>


        </div>
      </div>

    </div>


    <div id="mobile-menu" class="justify-content-between fixed-bottom"
      style="height: 54px ; background-color: #16212B; border-top: 1px solid #253441; ">

      <div id="item-menu-r" class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
        <a href="#" class="menu-item rounded-pill d-flex align-items-center justify-content-center "
          style="padding: 10px; font-size: 19px; height: 45px; width: 45px; margin: 0px 10px;">
          <i class="fas fa-hashtag text-2xl"></i>
        </a>
      </div>

      <div id="item-menu-r" class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
        <a href="#" class="menu-item rounded-pill d-flex align-items-center justify-content-center "
          style="padding: 10px; font-size: 19px; height: 45px; width: 45px; margin: 0px 10px;">
          <i class="fas fa-hashtag text-2xl"></i>
        </a>
      </div>

      <div id="item-menu-r" class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
        <a href="#" class="menu-item rounded-pill d-flex align-items-center justify-content-center "
          style="padding: 10px; font-size: 19px; height: 45px; width: 45px; margin: 0px 10px;">
          <i class="fas fa-hashtag text-2xl"></i>
        </a>
      </div>

      <div id="item-menu-r" class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
        <a href="#" class="menu-item rounded-pill d-flex align-items-center justify-content-center "
          style="padding: 10px; font-size: 19px; height: 45px; width: 45px; margin: 0px 10px;">
          <i class="fas fa-hashtag text-2xl"></i>
        </a>
      </div>

      <div id="item-menu-r" class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
        <a href="#" class="menu-item rounded-pill d-flex align-items-center justify-content-center "
          style="padding: 10px; font-size: 19px; height: 45px; width: 45px; margin: 0px 10px;">
          <i class="fas fa-hashtag text-2xl"></i>
        </a>
      </div>


    </div>


    <!-- FLOAT TWITTEAR BUTTON -->
    <div id="btn-tweet"
      class="twettear-btn text-white rounded-pill  justify-content-center align-items-center p-2 fixed-bottom"
      style=" margin-top: 4px; min-height: 54px; margin-left: 80%; margin-bottom: 20%;">
      <div class="pluma">
        <i class="fas fa-feather"></i>
      </div>
    </div>

  </div>

  <!-- SUGGESTIONS -->
  <div id="suggestions" class="suggestions  w-100  m-0" style="max-width: 400px;  padding: 0px 15px;">

    <!-- TENDENCIA PARA TI -->
    <div class="" style="margin-top: 10px;">
      <input id="input-find" type="text" placeholder="Buscar en Twitter" class="w-100 text-white rounded-pill"
        style="background-color: rgb(37,51,66); padding: 10px; font-size: 14px;">
    </div>
    <div class="" style="margin-top: 10px; border-radius: 10px; border: 1px solid #253441;">

      <div class="trend d-flex justify-content-between align-items-center"
        style="border-bottom: 1px solid #253441; padding: 10px;">
        <h2 style="font-size: 19px; color: #fff;" class="m-0">Tendencias para ti</h2>
        <a href="#" class="">
          <i class="fas fa-cog"></i>
        </a>
      </div>

      <div class=" d-flex justify-content-between align-items-center"
        style="padding:10px; border-bottom: 1px solid #253441;">
        <div class="" style="color: white;">
          <h2 class="m-0" style="font-size: 12px; font-weight: 300; color: #8798A6;">Tendencia en Republica Dominicana
          </h2>
          <h2 class="m-0" style="font-size: 15px;">DARK</h2>
        </div>
        <a id="suggestion-icon" class="">
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>

      <div class="more" style="padding: 10px;">
        <h2 style="font-size: 16px; color: #1d8cd1;">Mostrar más</h2>
      </div>


    </div>

    <!-- A QUIEN SEGUIR -->
    <div class="" style="margin-top: 10px; border-radius: 10px; border: 1px solid #253441;">

      <div class="trend d-flex justify-content-between align-items-center"
        style="border-bottom: 1px solid #253441; padding: 10px;">
        <h2 style="font-size: 19px; color: #fff;" class="m-0">A quien seguir</h2>
      </div>

      <div class="user" style="border-bottom: 1px solid #253441;">
        <a class="d-flex rounded-pill justify-content-between align-items-center" style="padding: 10px;">
          <div class="d-flex">
            <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
              class="rounded-circle" style="width: 36px; height: 36px;">

            <div class="" style="margin-left: 7px; color: white;">
              <h2 class="m-0" style="font-size: 15px;">smerlyn javier</h2>
              <h2 class="m-0" style="font-size: 15px; font-weight: 300; color: #8798A6;">@smerlynjavier01</h2>
            </div>

          </div>
          <div class="twettear-btn  rounded-pill d-flex justify-content-center align-items-center"
            style="background-color: #1F618E; min-height: 40px; color: #8A8F94; padding: 0px 10px;">
            <h2 class="m-0" style="font-size: 15px;">
              Seguir
            </h2>

          </div>
        </a>
      </div>
      <div class="user" style="border-bottom: 1px solid #253441;">
        <a class="d-flex rounded-pill justify-content-between align-items-center" style="padding: 10px;">
          <div class="d-flex">
            <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
              class="rounded-circle" style="width: 36px; height: 36px;">

            <div class="" style="margin-left: 7px; color: white;">
              <h2 class="m-0" style="font-size: 15px;">smerlyn javier</h2>
              <h2 class="m-0" style="font-size: 15px; font-weight: 300; color: #8798A6;">@smerlynjavier01</h2>
            </div>

          </div>
          <div class="twettear-btn  rounded-pill d-flex justify-content-center align-items-center"
            style="background-color: #1F618E; min-height: 40px; color: #8A8F94; padding: 0px 10px;">
            <h2 class="m-0" style="font-size: 15px;">
              Seguir
            </h2>

          </div>
        </a>
      </div>
      <div class="user" style="border-bottom: 1px solid #253441;">
        <a class="d-flex rounded-pill justify-content-between align-items-center" style="padding: 10px;">
          <div class="d-flex">
            <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
              class="rounded-circle" style="width: 36px; height: 36px;">

            <div class="" style="margin-left: 7px; color: white;">
              <h2 class="m-0" style="font-size: 15px;">smerlyn javier</h2>
              <h2 class="m-0" style="font-size: 15px; font-weight: 300; color: #8798A6;">@smerlynjavier01</h2>
            </div>

          </div>
          <div class="twettear-btn  rounded-pill d-flex justify-content-center align-items-center"
            style="background-color: #1F618E; min-height: 40px; color: #8A8F94; padding: 0px 10px;">
            <h2 class="m-0" style="font-size: 15px;">
              Seguir
            </h2>

          </div>
        </a>
      </div>
      <div class="more" style="padding: 10px;">
        <h2 style="font-size: 16px; color: #1d8cd1;">Mostrar más</h2>
      </div>




    </div>
  </div>

  <!-- sidebar-wrapper -->
  <div class="sidebar-wrapper">
    <div class="sidebar">

      <div class="sidebar-title">
        <h3 class="title-sidebar">Informacion de la cuenta</h3>
        <a class="content-header" id="cerrar" href="#">
          <i class="fas fa-times text-white"></i>
        </a>
      </div>

      <div class="info-user">
        <img class="" src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="">
        <div class="">
          <h3 class="text-white ">Smerlyn Javier</h3>
          <h3 class="  text-white ">@smerlyn001</h3>
        </div>

        <div class="fallowers">

          <h3 class="fallows">29</h3>
          <h3 class="subtitle"> Siguiendo</h3>

          <h3 class="fallowers">11</h3>
          <h3 class="subtitle"> Seguidores</h3>
        </div>

        <div class="submenu">
          <div class="submenu-list">
            <h3 class="icon-submenu">♤</h3>
            <h3 class="label-submenu">Perfil</h3>
          </div>
          <div class="submenu-list">
            <h3 class="icon-submenu">⚠︎</h3>
            <h3 class="label-submenu">Temas</h3>
          </div>
          <div class="submenu-list">
            <h3 class="icon-submenu">⎈</h3>
            <h3 class="label-submenu">Listas</h3>
          </div>
          <div class="submenu-list">
            <h3 class="icon-submenu">⏏︎</h3>
            <h3 class="label-submenu">Guardados</h3>
          </div>
          <div class="submenu-list">
            <h3 class="icon-submenu">♡</h3>
            <h3 class="label-submenu">Momentos</h3>
          </div>
        </div>

        <div class="submenu">
          <div class="submenu-list">
            <h3 class="label-submenu">Cerrar sesion</h3>
          </div>
        </div>

      </div>


    </div>
  </div>


  <script>
    autosize(document.getElementById("note"))

    const xBtn = document.getElementById('cerrar')
    const user = document.getElementById('user-image-btn');
    const sidebar = document.querySelector('.sidebar');
    const sidebarWrapper = document.querySelector('.sidebar-wrapper');

    // Sidebar
    user.addEventListener('click', () => {
      sidebar.classList.add('sidebar-display');
      sidebarWrapper.classList.add('sidebar-wrapper-display');
    });

    xBtn.addEventListener('click', () => {
      sidebar.classList.remove('sidebar-display');
      sidebarWrapper.classList.remove('sidebar-wrapper-display');
    });
  </script>


</div>
