.twettear-btn:hover {
  background-color: #1d8cd1 !important;
  color: white !important;
}
.user-item:hover {
  background-color: #1d2d3e;
}
.header {
  border-bottom: 1px solid #253441 !important;
}

.father-content {
  border-left: 1px solid #253441 !important;
  border-right: 1px solid #253441 !important;
}
#suggestion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 5px;
  height: 20px;
  width: 20px;
  color: #8798a6;
}
#suggestion-icon:hover {
  color: white;
  border-radius: 100px;
  background-color: #1d2d3e !important ;
}
#input-find {
  outline: none !important;
  border: 0px;
}
#options-icon {
  text-decoration: none !important;
  color: #8798a6;
}
#options-icon:hover {
  color: #1d8cd1;
  background-color: #1d2d3e !important ;
}
#options-text:hover {
  color: #1d8cd1;
}
#options-text {
  color: #8798a6;
}

#icon {
  color: #1d8cd1;
  text-decoration: none !important;
}
#icon:hover {
  background-color: #1d2d3e !important ;
}
#note {
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 19px;
  background-color: #16202c;
}

#note:focus {
  outline: none;
}
#user-image-btn{
  display: none;
}
#mobile-menu{
  display: none ;
}
#btn-tweet{
  display: none !important;
}
// MEDIA QUERYS
@media only screen and (max-width: 1024px) {
  .father-content {
  }
}

@media only screen and (max-width: 768px) {
  .suggestions {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  #user-image-btn{
    display: inline;
  }
  #what{
    display: none !important;
  }
  .divider{
    display: none;
  }
  #mobile-menu{
    display: flex ;
  }
  #btn-tweet{
    display: flex !important;
  }
}

// SIDEBAR

.sidebar-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 3;
}
.sidebar-wrapper-display {
  opacity: 1;

  visibility: visible;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -30rem;
  width: 18rem;
  height: 100vh;
  background-color: #16202c;
  /* padding: 2.5rem; */
  box-sizing: border-box;
  box-shadow: -0.1rem 0 0.5rem rgba(0, 0, 0, 0.3);
  transition: left 0.5s cubic-bezier(1, 0, 0, 1);
}
.sidebar-display {
  left: 0;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #39444c;
}

.title-sidebar {
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  // font-family: "Noto Sans JP", sans-serif;
}

.user-image-head-sidebar {
  display: inline;
  height: 40px;
  width: 40px;
  margin: 5px 12px;
  border-radius: 100px;
}

.name-sidebar {
  margin: 5px 12px;
}

.fallowers {
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
  // font-family: "Noto Sans JP", sans-serif;
}

.subtitle {
  color: #8899a6;
  font-weight: 300;
  font-size: 15px;
  margin: 0px 5px;
  // font-family: "Noto Sans JP", sans-serif;
}
.submenu {
  border-bottom: 1px solid #39444c;
}
.submenu-list {
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  font-weight: 300;
  font-size: 15px;
  // font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}
.icon-submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin: 10px;
  color: #8899a6;
}
.label-submenu {
  margin: 5px 5px;
}



// MENU MOBILE

.menu-item{
  color:white;
  text-decoration: none;
}
.menu-item:hover{
  color: #20A1F1;
  background-color: #1D2D3E;
}
.menu-logo{
  color:white;
}
.menu-logo:hover{
  background-color: #1D2D3E;
}
.twettear-btn{
  background-color: #20A1F1;
}
.twettear-btn:hover{
  background-color: #1d8cd1;
}
.user-item:hover{
  background-color: #1D2D3E;
}

// MEDIA QUERYS
@media only screen and (max-width: 1024px ){
  .user-name{
    display: none;
  }
  .user-icon{
    display: none;
  }
  .button-text{
    display: none;
  }
  .twettear-btn{
    width: 54px;
  }
  #item-menu-r{
    justify-content: flex-end !important;
  }
  #user-item{
    justify-content: flex-end !important;
  }
}
