<div class="container d-flex flex-column justify-content-between d-row m-0"
  style="max-width: 275px; padding: 10px 20px;">

  <div class="menu">

    <div class="text-white d-flex" style=" min-height: 54px; padding: 4px 0px;">
      <a class="menu-logo rounded-circle d-flex align-items-center"
        style="padding: 10px; font-size: 25px; min-width: 50px; max-height: 50px;">
        <span class=""><i class="fab fa-twitter"></i></span>
      </a>
    </div>

    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="fas fa-home text-2xl"></i>
        <span class="" style="margin-left: 10px;">Inicio</span>
      </a>
    </div>
    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="fas fa-hashtag text-2xl"></i>
        <span class="" style="margin-left: 10px;">Explorar</span>
      </a>
    </div>
    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="far fa-bell text-2xl"></i>
        <span class="" style="margin-left: 10px;">Notificaciones</span>
      </a>
    </div>
    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="far fa-envelope text-2xl"></i>
        <span class="" style="margin-left: 10px;">Mensajes</span>
      </a>
    </div>
    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="far fa-bookmark text-2xl"></i>
        <span class="" style="margin-left: 10px;">Guardados</span>
      </a>
    </div>
    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="far fa-list-alt text-2xl"></i>
        <span class="" style="margin-left: 10px;">Listas</span>
      </a>
    </div>
    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="far fa-user text-2xl"></i>
        <span class="" style="margin-left: 10px;">Perfil</span>
      </a>
    </div>
    <div class="text-white d-flex " style=" min-height: 54px; padding: 4px 0px;">
      <a href="#" class="menu-item rounded-pill d-flex align-items-center "
        style="padding: 10px; font-size: 19px;">
        <i class="fas fa-hashtag text-2xl"></i>
        <span class="" style="margin-left: 10px;">Más opciones</span>
      </a>
    </div>

    <!-- TWITTEAR BUTTON -->
    <div class="twettear-btn text-white rounded-pill d-flex justify-content-center align-items-center p-2 "
      style=" margin-top: 4px; min-height: 54px;">
      <h2 class="m-0" style="font-size: 19px;">
        Twittear
      </h2>
    </div>

  </div>

  <div class="user">
    <a class="user-item d-flex rounded-pill justify-content-between align-items-center" style="padding: 10px;">
      <div class="d-flex">
        <img src="https://pbs.twimg.com/profile_images/767772175658995712/2cjSQh5Q_400x400.jpg" alt="profile-image"
          class="rounded-circle" style="width: 36px; height: 36px;">

        <div class="" style="margin-left: 7px; color: white;">
          <h2 class="m-0" style="font-size: 15px;">smerlyn javier</h2>
          <h2 class="m-0" style="font-size: 15px; font-weight: 300; color: #8798A6;">@smerlynjavier01</h2>
        </div>

      </div>
      <div class="text-white">
        <i class="fas fa-chevron-down"></i>
      </div>
    </a>
  </div>

</div>
