.menu-item{
  color:white;
  text-decoration: none;
}
.menu-item:hover{
  color: #20A1F1;
  background-color: #1D2D3E;
}
.menu-logo{
  color:white;
}
.menu-logo:hover{
  background-color: #1D2D3E;
}
.twettear-btn{
  background-color: #20A1F1;
}
.twettear-btn:hover{
  background-color: #1d8cd1;
}
.user-item:hover{
  background-color: #1D2D3E;
}
